* {
  background-color: rgba(167, 201, 87);
}

.loginColor {
  --bs-bg-opacity: 1;
  background-color: rgba(242, 232, 207) !important;
}

.loginButton {
  --bs-bg-opacity: 1;
  background-color: rgba(56, 102, 65) !important;
}

.editButton {
  --bs-bg-opacity: 1;
  background-color: rgb(129, 96, 12) !important;
}

.deleteButton {
  --bs-bg-opacity: 1;
  background-color: rgba(188, 71, 73) !important;
}

